* {
  box-sizing: border-box;
}

:root {
  --primary-color: #10375c;
  --heading-color: #0d1111;
  --desc-color: #767e7e;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}