* {
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --header-font: "Public Sans";
  --main-font: "Poppins";
  --font-sonsie-one: "Sonsie One";

  /* Colors */
  --primary-color-black: #152427;
  --primary-color-black-green: #143c3c;
  --text-color-light-gray: #7d8188;
  --text-color-black-gray: #575d5e;
  --secondary-color-gray: #6a8383;
  --secondary-color-light-green: #e2eddf;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.primary__button {
  width: 173px;
  height: 57px;
  border-radius: 40px;
  border: 1.5px solid #143c3c;
  background: var(--primary-color-black-green, #143c3c);
  color: #fff;
  text-align: center;

  font-family: "Public Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.556%; /* 155.556% */
}

.name-top-page {
  display: flex;
  gap: 21px;
  align-items: center;
}
.line-before-name {
  border: 1px solid var(--primary-color-black-green);
  width: 25px;
}
.name-page {
  font-family: var(--main-font);
  text-transform: uppercase;
  color: var(--primary-color-black, #152427);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 162.5%; /* 162.5% */
}

.title-section {
  position: relative;
  width: 520px;
  color: var(--primary-color-black);
  font-family: var(--main-font);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 123.81%;
}
.title-section::after {
  content: var(--content);
  position: absolute;
  bottom: 19px;
  right: var(--right);
  border: 2px solid var(--primary-color-black-green);
  width: 66px;
}

@keyframes loading {
  from {
    width: 0%;
  }
  to {
    width: 40%;
  }
}

@keyframes submit {
  from {
    padding: 0 13px;
  }
  to {
    padding-left: 26px;
    padding-right: 0;
  }
}
